<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        
        <title>Nerds4U</title>
        <style>
            body {
                background-color: lightgray;
                background-image: url('background.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100%;
                background-position: top center;
            }
        </style>
    </head>

    <body class="d-flex flex-column min-vh-100">
        
        <header>
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Nerds4U</a>
                    <ul class="navbar-nav container-fluid">
                        <div class="input-group p-2 col">
                            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">All</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">All Categories</a></li>
                                <li><a class="dropdown-item" href="#">Art</a></li>
                                <li><a class="dropdown-item" href="#">Accessories</a></li>
                                <li><a class="dropdown-item" href="#">Comics</a></li>
                                <li><a class="dropdown-item" href="#">Trading Cards</a></li>
                                <li><a class="dropdown-item" href="#">Toys &amp; Models</a></li>
                            </ul>
                            <input class="form-control" type="search" placeholder="Search for art, accessories, comics, cards, toys, and more..." aria-label="Search">
                            <button class="btn btn-warning" type="submit"><span class="bi bi-search"></span></button>
                        </div>
                        <li class="nav-item px-1">
                            <a class="nav-link btn btn-dark fs-5" href="#"><span class="bi bi-tags-fill"></span></a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link btn btn-dark fs-5" href="#"><span class="bi bi-person-fill"></span></a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link btn btn-dark" href="#"><span class="bi bi-cart-fill fs-5"></span><span class="badge rounded-pill bg-secondary">0</span></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <nav class="navbar navbar-expand-md navbar-light bg-light mb-5 px-2 py-1">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#subNavbarContent" aria-controls="subNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="subNavbarContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Art</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Accessories</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Comics</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Trading Cards</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Toys &amp; Models</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <div class="shadow-lg rounded-3 bg-body container-fluid w-75 mb-5 p-0">
            <div class="card-body">
                <h6 class="card-title mb-3"><a href="#" class="text-decoration-none text-dark">Shop Art - Drawings &amp; Paintings, Mixed Media, Prints &amp; Photography, Sculptures &amp; Statues</a></h6>
                <div class="d-flex">
                    <div class="me-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-left"></span></button>
                    </div>
                    <div class="d-flex flex-fill flex-wrap">
                        <div class="text-center mx-1" style="width: 8rem;">
                            <div class="bg-dark" style="height: 8em;">
                                <a href="#"><img src="" class="h-100"></a>
                            </div>
                            <div class="">
                                <p class="m-0 lh-sm"><a href="#" class="text-decoration-none">Batman Poster</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="ms-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="shadow-lg rounded-3 bg-body container-fluid w-75 mb-5 p-0">
            <div class="card-body">
                <h6 class="card-title mb-3"><a href="#" class="text-decoration-none text-dark">Shop Accessories - Jewelry, Key Chains &amp; Lanyards, Pins &amp; Buttons, Stickers</a></h6>
                <div class="d-flex">
                    <div class="me-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-left"></span></button>
                    </div>
                    <div class="d-flex flex-fill flex-wrap">
                        <div class="text-center mx-1" style="width: 8rem;">
                            <div class="bg-dark" style="height: 8em;">
                                <a href="#"><img src="" class="h-100"></a>
                            </div>
                            <div class="">
                                <p class="m-0 lh-sm"><a href="#" class="text-decoration-none">Batman Button</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="ms-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="shadow-lg rounded-3 bg-body container-fluid w-75 mb-5 p-0">
            <div class="card-body">
                <h6 class="card-title mb-3"><a href="#" class="text-decoration-none text-dark">Shop Comics - Action, Adventure &amp; Slice of Life, Historical &amp; Non-fiction, Humor, Manga &amp; Int'l, Sci-fi, Fantasy &amp; Horror, Superhero</a></h6>
                <div class="d-flex">
                    <div class="me-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-left"></span></button>
                    </div>
                    <div class="d-flex flex-fill flex-wrap">
                        <div class="text-center mx-1" style="width: 8rem;">
                            <div class="bg-dark" style="height: 8em;">
                                <a href="#"><img src="" class="h-100"></a>
                            </div>
                            <div class="">
                                <p class="m-0 lh-sm"><a href="#" class="text-decoration-none">Detective Comics No. 27</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="ms-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="shadow-lg rounded-3 bg-body container-fluid w-75 mb-5 p-0">
            <div class="card-body">
                <h6 class="card-title mb-3"><a href="#" class="text-decoration-none text-dark">Shop Trading Cards - Card Games, Non-Sports Cards, Sports Cards</a></h6>
                <div class="d-flex">
                    <div class="me-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-left"></span></button>
                    </div>
                    <div class="d-flex flex-fill flex-wrap">
                        <div class="text-center mx-1" style="width: 8rem;">
                            <div class="bg-dark" style="height: 8em;">
                                <a href="#"><img src="" class="h-100"></a>
                            </div>
                            <div class="">
                                <p class="m-0 lh-sm"><a href="#" class="text-decoration-none">1999 Pokemon: Mint</a></p>
                            </div>
                        </div>
                        <div class="text-center mx-1" style="width: 8rem;">
                            <div class="bg-dark" style="height: 8em;">
                                <a href="#"><img src="" class="h-100"></a>
                            </div>
                            <div class="">
                                <p class="m-0 lh-sm"><a href="#" class="card-link text-decoration-none">2003 Yu-Gi-Oh: Near Mint</a></p>
                            </div>
                        </div>
                        <div class="text-center mx-1" style="width: 8rem;">
                            <div class="bg-dark" style="height: 8em;">
                                <a href="#"><img src="" class="h-100"></a>
                            </div>
                            <div class="">
                                <p class="m-0 lh-sm"><a href="#" class="card-link text-decoration-none">1986 Fleer Michael Jordan: Mint</a></p>
                            </div>
                        </div>
                        <div class=" text-center mx-1" style="width: 8rem;">
                            <div class="bg-dark" style="height: 8em;">
                                <a href="#"><img src="" class="h-100"></a>
                            </div>
                            <div class="">
                                <p class="m-0 lh-sm"><a href="#" class="card-link text-decoration-none">1952 Topps Mickey Mantle: Gem Mint</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="ms-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="shadow-lg rounded-3 bg-body container-fluid w-75 mb-5 p-0">
            <div class="card-body">
                <h6 class="card-title mb-3"><a href="#" class="text-decoration-none text-dark">Shop Toys &amp; Models - Action Figures &amp; Props, Dolls &amp; Plushies, Funko Pops! &amp; Bobbleheads, Kits, Models &amp; Statues, LEGO, Toy Vehicles</a></h6>
                <div class="d-flex">
                    <div class="me-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-left"></span></button>
                    </div>
                    <div class="d-flex flex-fill flex-wrap">
                        <div class="text-center mx-1" style="width: 8rem;">
                            <div class="bg-dark" style="height: 8em;">
                                <a href="#"><img src="" class="h-100"></a>
                            </div>
                            <div class="">
                                <p class="m-0 lh-sm"><a href="#" class="text-decoration-none">Funko Batman</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="ms-2">
                        <button type="button" class="btn btn-outline-light shadow text-dark h-100"><span class="bi bi-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="mt-auto bg-dark text-center">
            <div class="p-3">
                <div class="pb-2">
                    <a class="" href="#"><span class="bi bi-twitter"></span></a>
                    <a class="" href="#"><span class="bi bi-facebook"></span></a>
                    <a class="" href="#"><span class="bi bi-instagram"></span></a>
                </div>
                <p class="m-0"><span class="text-muted">Powered by Amazon Web Services</span></p>
                <p class="m-0"><span class="text-muted">&copy; 2022 Nerds4U.com</span></p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>